* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  :root {
      --pinky: hsl(340, 70%, 60%);
      --light-pink: hsl(340, 70%, 95%);
      --beige: hsl(40, 70%, 60%);
      --light-beige: hsl(40, 70%, 95%);
      --blue: hsl(190, 70%, 60%);
      --light-blue: hsl(190, 70%, 95%);
      --gray: hsl(0, 4%, 30%);
      --light-gray: hsl(0, 4%, 80%);     
  }

.btn {
    display: block;
    margin: 0 auto;
    padding: .5rem 1.5rem;  
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);  
    background-color: var(--beige);
    border-radius: .5em; 
    border: white .1em solid;
    transition: all .35s ease;
}

.btn:hover {
    cursor: pointer;
    color: var(--beige);
    background-color: hsl(0, 0%, 100%);
    border: var(--beige) .1em solid;
    transition: all .35s ease;
}

@media screen and (max-width: 816px) {
    .btn {
        font-size: 1.3rem;
    }
}

body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    padding-top: 153px;
}

@media screen and (max-width: 816px) {
    body {
        padding-top: 53px;
    }
}

.wrap {
    padding: 3rem;  
}

@media screen and (min-width: 900px) {
    .wrap {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.wrap > section {
    margin-bottom: 3rem;
}

.wrap__contact {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER SECTION */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: box-shadow .5s ease-in-out;
}

.header__section--media {
    display: flex;
    justify-content: center;
}

#logo__img {
    border-radius: 1000em;
    transition: all 1s ease-in-out;
    margin: .5rem 2rem;
}

@media screen and (max-width: 816px) {
    #logo__img {
        height: 40px;
        width: 40px;
    }
}

.logo {
    align-self: center;
    color: var(--beige);
    font-size: 3em;
    font-weight: 600;
    letter-spacing: .5em;
    text-transform: uppercase;
    line-height: 2em;
    transition: font-size .5s ease-in-out;
}

.logo:hover {
    color: var(--pinky);
}

@media screen and (max-width: 816px) {
    .logo {
        font-size: 2em;
    }
}

.header__section--menu {
    font-family: 'Cinzel', serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu__item {
    margin-right: 3rem;
    color: var(--pinky);
    font-size: 2em;
    letter-spacing: .1em;
    text-decoration: none;
    line-height: 2em;
    transition: all .5s ease-in-out;
}

.menu__item:hover {
    color: var(--beige);
}

.menu__item--active {
    color: var(--beige);
}

.menu__item--hidden {
    display: none;
}

@media screen and (max-width: 816px) {

    .menu {
        justify-content: flex-start;
    }

    .menu__item {
        font-size: 1.5em;
    }
       
    .menu__wrap {
        display: flex;
        flex-direction: column;
        height: 0;
        transition: height .5s ease-in-out;
        overflow: hidden;
    }

    .menu__item--hidden {
        display: flex; 
        position: absolute;
        top: 2.4rem;
        cursor: pointer;
    }

    .menu.responsive {
        position: relative;
    }

    .menu.responsive .menu__wrap {
        display: flex;
        height: 120px;
    }
}

a {
    color: var(--pinky);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--beige);
}

/*ADD SCROLL CLASS TO HEADER SECTION*/
.header__main--scroll {
    box-shadow: 0em .2em 1em var(--light-gray);
}

.header__main--scroll #logo__img {
    height: 40px;
    width: 40px;
}

.header__main--scroll .logo {
    font-size: 2em;
}

.header__main--scroll .menu__item {
    font-size: 1.5em;
}

/* SCROLL to the link */

.scroll {
    padding-top: 10rem;
    margin-top: -10rem;
}

@media screen and (max-width: 816px) {
    .scroll {
        padding-top: 6rem;
        margin-top: -6rem;
    }
}

/* MAIN SECTION */

main {
    display: flex;
    flex: wrap;
}

.main__article {
    padding: 2rem;
    font-size: 2em;
    font-family: 'Vollkorn', serif;
    line-height: 2em;
    text-align: justify;
    letter-spacing: .05em;
    background-color: var(--light-blue);
    border-radius: .5em;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.03),0 5px 30px hsla(0, 0%, 0%, 0.1);
}

.main__text {
    margin-bottom: 2em;
    margin-top: 1em;
}

@media screen and (max-width: 816px) {
    .main__article {
        font-size: 1.5em;
    }
}

/* STYLES FOR PROJECTS */

.project {
    display: grid;
    gap: 3rem;
}

.project__intro {
    padding-top: 2rem;
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: justify;
    line-height: 4rem;
}

@media screen and (max-width: 816px) {
    .project__intro {
        font-size: 1.5em;
    }
}

.project__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background-color: var(--light-blue);
    border-radius: 1em;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.03),0 5px 30px hsla(0, 0%, 0%, 0.1);
}

@media screen and (max-width: 600px) {
    .project__wrap {
        grid-template-columns: auto;
    }
}

.project__example {
    display: flex;
    flex-direction: column;
    margin: 2rem
}

.project__img img {
    width: 100%;
    border-radius: 1em;
}

figcaption {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1em;
    font-weight: bold;
}

@media screen and (max-width: 816px) {
    .figcaption {
        font-size: .5em;
    }
}

.project__description {
    display: grid;
    align-content: space-between;
    margin: 2rem;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    text-align: justify;
    letter-spacing: .05em; 
    line-height: 2em;  
}

@media screen and (max-width: 816px) {
    .project__description {
        font-size: 1.5em;
    }
}

.project__text {
    padding-bottom: 2rem;
}

.project__title {
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.5rem;
}

@media screen and (max-width: 816px){
    .project__title {
        font-size: 1.5rem;
    }
}

/* STYLES FOR JOBIZ APP */

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details__wrap {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
}

.details__title {
    padding-bottom: 1rem;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
}

@media screen and (max-width: 816px){
    .details__title {
        font-size: 1.5em;
    }
}

.details__img {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 80rem;
}

.details__jobiz {
    width: 100%;
    border-radius: 1rem;
}

.details__description {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
}

@media screen and (max-width: 816px) {
    .details__description {
        font-size: 1.5rem;
    }
}

.details__list {
    margin-top: 4rem;
}

.details__list h1 {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.details__list ul {
    margin-left: 2rem;
    line-height: 3rem;
}

.details__list li {
    padding-left: .8rem;
}

.btn__details {
    
}



/* STYLES FOR EDU&WORK */

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    column-gap:4rem;
    margin-top: 4rem;
}


.experience__part {
    display: grid;
    grid-template-rows: 3rem repeat(3, 18rem);
    grid-auto-rows: 15rem;
    gap: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 816px) {
    .experience {
        grid-template-columns: 1fr;
    }

    .experience__part {
        display: grid;
        grid-template-rows: 3rem repeat(3, auto-fit);
        grid-auto-rows: auto-fit;
        gap: 2rem;
    }
}

.experience__part > h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.experience__degree {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 1em;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.03),0 5px 30px hsla(0, 0%, 0%, 0.1);
    padding: 2rem;
}

@media screen and (max-width: 880px) {
    .experience__degree {
        width: auto;
    }
}

.experience__degree:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.05);
}

.experience__icon {
    font-size: 2rem;
}

.experience__description {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: .05rem;
}
   
}
.experience__description > span {
    display: block;
}

.experience__description > span:nth-of-type(3) {
    font-weight: bold;
}

@media screen and (max-width: 816px) {
    .experience__part > h1 {
        font-size: 1.5rem;
    }

    .experience__degree {
        width: 100%;
    }

    .experience__icon {
        font-size: 1.5rem;
    }

    .experience__description {
        font-size: 1.5rem;
    }
}

/* STYLES FOR HOBBIES */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

@media screen and (min-width: 940px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0em .1em .5em var(--light-gray);
} 

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: .1rem;
    line-height: 3rem;
}

@media screen and (min-width: 940px){
    .img-wrapper > .content {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 670px) and (max-width: 816px){
    .img-wrapper > .content {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 460px){
    .img-wrapper > .content {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}

.img-wrapper:hover > img.blur {
    filter: blur(5px);
}

.img-wrapper:hover > img.zoom {
    transform: scale(1.1);
}

.img-wrapper > .content.slide-left {
    transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-left {
    transform: translateX(0);
}

.img-wrapper > .content.slide-right {
    transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
    transform: translateX(0);
}

.img-wrapper > .content.slide-down {
    transform: translateY(100%);
}

.img-wrapper:hover > .content.slide-down {
    transform: translateY(0);
}

.img-wrapper > .content.slide-up {
    transform: translateY(-100%);
}

.img-wrapper:hover > .content.slide-up {
    transform: translateY(0);
}


/* STYLES FOR CONTACT */

#contact {
    position: relative;
    padding: 2em;
    background-color: var(--light-blue);
    border: .2em solid var(--gray);
    width: 70%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: rotate;
    animation-duration: 1s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
      scale: 0;
    }
    100% {
      transform: rotate(360deg);
      scale: 1;
    }
  }

@media screen and (max-width: 700px) {
    #contact {
        padding: .5em 2em .5em 2em;
        width: 90%;
    }
}

#contact__intro {
    margin-bottom: 3em;
}


/* STYLES FOR MODAL CONTACT */

#contact__modal { /* modal background */
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: slide;
    animation-duration: .5s;
}

@keyframes slide {
    0% {
      transform: slide;
      opacity: 0;
    }
    100% {
      transform: slide;
      opacity: 1;
    }
  }

#contact__close {
    position: absolute;
    top: 0;
    right: 3%;
    margin-top: .5em;
    color: var(--pinky);
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    width: .8em;
    height: .8em;
}

#contact__close:hover, 
#contact__close:focus {
    color: var(--gray);
}

/* STYLES FOR FORM */

#contact__form {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem 7rem 1fr 7rem;
    grid-auto-rows: 1fr;
    grid-template-areas:    "name email"
                            "phone subject"
                            "message message"
                            "button button";    
}

@media screen and (max-width: 700px) {
    #contact__form {
        display: block;
    }

    #contact__button {
        margin-top: 2em;
    }
}

.contact__form--error {
    color: red;
    padding: .5rem;
    font-size: 1.2em;
}

#contact__name {
    grid-area: name;
}

#contact__email {
    grid-area: email;
}

#contact__phone {
    grid-area: phone;
}

#contact__subject {
    grid-area: subject;
}

#contact__message {
    grid-area: message;
}

#contact__button {
    grid-area: button;
    place-self: center;
}

.contact__data {
    display: flex;
    flex-direction: column;
}

.contact__data > label {
    font-size: 1.5rem;
    color: var(--pinky);
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.contact__data--look {
    padding: .5rem;
    font-size: 2rem;
    color: var(--beige);
}

.contact__data--look:focus {
    box-shadow: 0 0 .5rem var(--blue);
    outline: none;
}

/* styles for invalid form when typing */
.contact__data--look:invalid:focus {
    background-color: var(--light-pink);
    border: none;
    outline: .1rem solid red;
    border-radius: .2rem;
}

#message {
    line-height: 150%;
    min-height: 10rem;
    max-height: 30rem;
    resize: vertical;
}

/* STYLES FOR FOOTER */

.contact__footer {
    display: grid;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
}

.contact__footer > p {
    font-size: 1.5rem;    
}

.fa-brands {
    font-size: 5rem;
    padding: 1rem;
}

@media screen and (max-width: 816px) {
    .social {
        
    }

    .fa-brands {
        font-size: 3rem;
    }
}

